@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Arsenal&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton|Montserrat|Righteous|Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Nova+Mono&display=swap');

* {
  box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Arsenal', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Abril Fatface', cursive;
    color: #455752;
}

strong {
    color: #455752;
}

body {
    background-color: #f0f0f0;
}

main {
    background-color: #f0f0f0;
}

header {
    background-color: #dde7e5;
    margin: 0;
    display: grid;
    grid-template-columns:  50% 50%;
    color: #455752;
}

.navbar {
    padding: 15px 0 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-brand h1, .navbar-brand h2 {
    display: inline;
}

h1 {
    font-size: 4rem;
    margin:0;
    color: #34413E;
}

h2, .navbar-brand h2 {
    font-size: 2.5rem;
    margin-top: 0px;

    color: #455752;
}

.nav-link {
    font-size: 1.25rem;
    color: #455752;
}

.navbar-brand {
    display: inline-flex;
    flex-direction: column;
    padding-left: 3rem;
}

.navbrand-link:hover {
  text-decoration: none;
}

header img {
    width: 100%;
}

#profile-pic {
    background-image: url("../images/sophie.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 10px solid #ACD8CC;
    margin-left: 3rem;
}

header a {
    margin-left: 15px;
    margin-right: 15px;
}

main {
  padding-top: 3%;
}

.main {
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 5%;
}

.split {
  display: grid;
  grid-template-columns: 47.5% 47.5%;
  grid-gap: 5%;
}

.full-width {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
}

#image {
    background-image: url('../images/Group.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 25rem;
}

#about {
    padding-left: 1%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: 50% 45%;
    grid-column-gap: 5%;
}

article {
    padding-left: 10%;
    padding-right: 1%;
}

h3 {
  font-family: 'Arsenal', sans-serif;
  font-weight: bold;
  color: #34413E;
}

#axioms {
    grid-column-start: 1;
    grid-column-end: 3;
}

a, .nav-link {
    text-decoration: none;
}

.nav-link {
  margin-left: 1rem;
}

.navbar-nav {
  margin-right: 3rem;
}

a:hover, a:active, .nav-link:hover, .nav-link:active {
    text-decoration: underline;
    color: #455752;
}

.nav-link:visited {
    color: inherit;
}

.bg-primary, .navbar-light {
  background-color: #dde7e5 !important;
}


/* @media only screen and (max-width: 1000px) {
    #profile-pic {
        display: none;
    }

    main #image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        margin-left: 5%;
        border: 10px solid #ACD8CC;
    }
    #about div {
        grid-column: 1 / 3;
    }
} */

@media only screen and (max-width: 992px) {
  main, .main, .split, .full-width {
    display: block;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .full-width {
    width: 100%;
  }

  #profile-pic {
    display: none;
  }

  #about {
    padding: 0;
  }

  .navbar-brand {
    padding: 0;
  }

  #image {
    background-image: url("../images/sophie.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 10px solid #ACD8CC;
  }

  article {
    padding: 0;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 576px) {
  h1 {
    font-size: 2.5rem;
  }
  .navbar-brand h2, .navbar-brand h3 {
    font-size: 2rem;
  }

  main, .main, .split, .full-width {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media only screen and (orientation: portrait) {
  main, .main, .split {
        padding-top: 0;
        grid-template-rows: 47.5% 47.5%;
        grid-gap: 5%;
  }

    #image {
        display: none;
    }

    .bio {
      grid-row: 2 / 3;
      grid-column: 1 /3;
      margin-bottom: 2rem;
    }
    /* #about {
        grid-row: 2 / 3;
        grid-column: 1 /3;
        padding: 10%;
        padding-top: 0;
    } */

    p, li {
        font-size: 1.25rem;
    }

    a {
        text-decoration: underline;
    }

    nav a {
      text-decoration: none;
    }
}
